

p {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 2rem;
    padding-left: 85px;
    font-family: 'Titillium Web', sans-serif;



}

.crystals{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    align-items: center;

}
.crystal {

     border: 0.5px solid;
     height: 200px;
     width:  200px;
     border-radius: 4px;
     box-shadow: 10px 10px 5px grey;

     transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;

}

